<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.deutscheslager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NumbersActivity"
            android:label="Nummern"
            />
        <activity android:name=".ProfanityActivity"
            android:label="Profanität"
            />
        <activity android:name=".PhrasesActivity"
            android:label="Sätze"
            />
        <activity android:name=".GeneralActivity"
            android:label="Sonstiges"
            />
        <activity android:name=".FoodActivity"
            android:label="Lebensmittel"
            />
        <activity android:name=".ColorsActivity"
            android:label="Farben"
            >

        </activity>
    </application>

</manifest>